div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(216, 165, 165);
    padding-bottom: 50px;
}
table{
    text-align: center;
}
td{
    padding: 5px;
    width: 30%;
}
tr{ 
    font-size: 30px;
    padding: 35px;
}
.trPlanet{
    background-color: #FDFE33;
}
.trResidents{ 
    text-align: center;
    width: 100%;
    background-color: #3080DA;
} 
.borderLoader {
    width: 100%;
    height: 100%;
    background: rgb(216, 165, 165);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 75px;
    height: 25px;
    border: 10px solid #3080DA;
    border-radius: 50%;
    border-left-color:#FDFE33;
    animation: loader 1.3s linear infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg)
    }
}
.hide {
    opacity: 0;
}
